.main-container{
  display: flex;
  flex-direction: column;
  top: 100px;
  left:30%;
  position: absolute  
}

.button-container {
  display: flex;
  justify-content: space-around;
  
}
.array-container {

    height: 500px;
    min-height: 500px;
    margin-bottom: 1em;
    display: flex;
    align-items: flex-end;
  }
  
  .array-bar {
    width: 2em;
    margin: 0 2px;
  }