.main-container{
  display: flex;
  flex-direction: column;
  top: 100px;
  left:30%;
  position: absolute  
}

.button-container {
  display: flex;
  justify-content: space-around;
  
}
.array-container {

    height: 500px;
    min-height: 500px;
    margin-bottom: 1em;
    display: flex;
    align-items: flex-end;
  }
  
  .array-bar {
    width: 2em;
    margin: 0 2px;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }